.contact-live {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10000;
}

.box-contact-element {
    font-size: 3.5rem;
    color: $color-secondary;
    padding: 0.8rem;
    background: $color-white;
    margin: 0.5rem;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.box-contact-element:hover {
    background-color: $color-secondary;
    color: $color-white;
    border: 2px solid $color-white;
    transition: all 0.5s ease-in-out;
}
