.training {
    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 200px;
        background-color: #ccc;
        margin: 1.2rem 0;

        &-item {
            width: 33.3333333%;
            background: #083970;
            height: 100%;
            border: 4px solid transparent;

            a {
                font-size: 2.6rem;
                font-weight: 300;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            a:hover {
                color: $color-primary;
            }

            &-icons {
                font-size: 4rem;
                margin-bottom: 12px;
                color: $color-white;
            }

            &-title {
                font-size: 2.5rem;
                text-transform: uppercase;
                font-weight: 300;
                color: $color-white;
                padding-left: 1.2rem;
                padding-right: 1.2rem;
                text-align: center;
            }
        }
        &-item:hover {
            border: 4px solid $color-secondary;
            transition: all 0.3s ease-in-out;
            background-color: $color-white;
            color: $color-primary;
        }

        &-item.other {
            background-color: $color-secondary;
        }

        &-item.other:hover {
            border: 4px solid $color-primary;
            transition: all 0.3s ease-in-out;
            background-color: $color-white;
            color: $color-secondary;
        }

        .training-list-item:hover a > .training-list-item-title,
        .training-list-item:hover a > .training-list-item-icons {
            color: $color-primary !important;
        }
    }
}
